{% extends "layout.html" %}

{% block content %}
<h2>All Classes</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Teacher</th>

    </tr>

    {% for cls in classes %}
    <tr>
        <td>{{ cls.name }}</td>
        <td>{{ cls.department }}</td>
        <td>
           {{cls.teacher.username}}
        </td>
        <td>
            <form method="post" action="{% url 'courses:enroll_class' cls.id %}">
{% csrf_token %}
<button type="submit">Enroll</button>
</form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
