{% extends "layout.html" %}

{% block title %}User Login{% endblock %}

{% block content %}
    Login Into Your Account
    <form method="post">
        {% csrf_token %}
        {% comment %} {{form}} {% endcomment %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" placeholder="username">
            <label for="floatingInput">username</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="submit">Login</button>
    </form>

{% endblock %}