{% extends "layout.html" %}

{% block title %}Courses{% endblock %}

{% block content %}
{% for course in courses %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text">{{course.description}}</p>
            <a href="{% url 'courses:enroll_course' course.id %}" class="card-link">Enroll Course</a>
            {% if user.is_staff %}
            <a href="{% url 'courses:course_enrollment_history' course.id %}" class="card-link">Course History</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}  