{% extends "layout.html" %}

{% block title %}My Journal{% endblock %}

{% block content %}
    {% for journal in journals %}
        <div class="card" style="width: 50rem;">
        {% if journal.image %}
            <img src="{{ journal.image.url }}" class="card-img-top" alt="img">
            {% else %}  
            <img src="" class="card-img-top" alt="img">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{journal.title}}</h5>
            <p class="card-text">{{journal.content}}</p>
            <a href="{% url 'view_journal' journal.id %}" class="btn btn-primary">View </a>

            <a href="{% url 'edit_journal' journal.id %}" class="btn btn-info">Edit </a>
            <a href="{% url 'delete_journal' journal.id %}" class="btn btn-danger">Delete</a>

        </div>
    </div>
    {% endfor %}
{% endblock %}