{% extends "layout.html" %}

{% block title %}index{% endblock %}

{% block content %}Index Page

{% for journal in journals %}

<div class="card" style="width: 18rem;">
  <img src="{{journal.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{journal.title}}</h5>
    <p class="card-text">{{journal.content}}</p>
    <a href="{% url 'view_journal' journal.id %}" class="btn btn-primary">View More</a>
  </div>
</div>
{% endfor %} 
  
</div>
{% endblock %}