.container {
    margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* centers children horizontally */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center; /* centers navbar items */
}
